@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #B46A3C;
    @apply font-heading font-bold transition-colors duration-200;
  }
}

@layer utilities {
  @keyframes carousel-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-carousel {
    animation: carousel-scroll 24s linear infinite;
  }
}
